<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QQSideSlip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E062CD91D740A8700BD4959</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E062CF21D740A8800BD4959</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E062CFD1D740A8800BD4959</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
